@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

:root {
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-5: #637c54;
}

body {
  background-color: #9da39a;
  /* background-color: black; */
}

#gamePage {
  background-color: black;
}

#navBar {
  background-color: black;
  height: 40px;
  width: 1vp;
}

#navBar a {
  text-align: center;
  float: right;
  color: #f2f2f2;
  font-size: 25px;
  padding: 14px 16px;
}

a {
  text-decoration: none;
}

#about h1 {
  text-align: center;
}

#game {
  display: flex;
  height: 100px;
  width: 70%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 300% 300%;
  animation: colorChange 10s ease-in-out infinite;
}

@keyframes colorChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

#keysDisplay {
  display: flex;
  flex-wrap: wrap;
}

#startBtn {
  align-content: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  font-size: 1.5rem;

  background-color: aquamarine;
  font-family: "Wallpoet", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#startBtn:hover {
  transform: scale(1.2);
  transition: 1s;
  box-shadow: 5px 15px 8px;
  background-color: aqua;
}
.letterFont {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
#letterW {
  background-color: red;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border: 3px white solid;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 3px 10px 10px;
}

#letterA {
  background-color: blue;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border: 3px white solid;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 3px 10px 10px;
}
#letterS {
  background-color: green;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px white solid;
  margin-right: 20px;
  box-shadow: 3px 10px 10px;
}

#letterD {
  background-color: yellow;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border: 3px white solid;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 3px 10px 10px;
}
#letterI {
  background-color: pink;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border: 3px white solid;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 3px 10px 10px;
}
#letterJ {
  background-color: turquoise;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border: 3px white solid;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 3px 10px 10px;
}
#letterK {
  background-color: magenta;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border: 3px white solid;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 3px 10px 10px;
}
#letterL {
  background-color: purple;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border: 3px white solid;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 3px 10px 10px;
}

#timer {
  display: flex;
  height: 70px;
  width: 70px;
  aspect-ratio: 1/1.5;
  background: var(--clr-1);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#timer::before,
#timer::after {
  content: " ";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );

  border-radius: inherit;
  animation: rotation 3s linear infinite;
}

#timer::after {
  filter: blur(1.5rem);
}

#timerDiv {
  text-align: center;
}

#endDisplay {
  display: flex;
  flex-direction: column;
  z-index: +1;
  height: 300px;
  width: 200px;
  background-color: beige;
  opacity: 0.9;
  text-align: center;
  font-size: 40px;
}

#closeEndDisplay {
  align-self: center;
  width: 50%;
  margin-top: 40px;
}
#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#gameTitle {
  max-width: 100%;
  font-size: 5em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
}
#description {
  font-size: 2em;
  width: 50%;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

#instructions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#instTitle {
  max-width: 100%;
  font-size: 4em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#instOl {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  width: 50%;
}

#howTo {
  text-align: center;
  text-decoration: underline;
}

#hint {
  text-align: center;
  text-decoration: underline;
}

#scoreDiv {
  z-index: +1;
}

#gamePosition {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
}

#gameButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameLink {
  height: 80px;
  width: 140px;
  border-radius: 70px;
  font-size: 2em;
  background-color: silver;
  margin-bottom: 40px;
}

#gameLink:hover {
  transform: scale(1.2);
  transition: 1s;
  box-shadow: 5px 15px 8px;
  background-color: aqua;
}

#timeLimit {
  display: flex;
  height: 100px;
  width: 100px;
  aspect-ratio: 1/1.5;
  background: var(--clr-1);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  color: white;
}

#timeLimit::before,
#timeLimit::after {
  content: " ";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );

  border-radius: inherit;
  animation: rotation 3s linear infinite;
}

#timeLimit::after {
  filter: blur(1.5rem);
}

#scoreDiv {
  color: white;
  font-size: 2rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

#pointsDiv {
  color: white;
  font-size: 2rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

#comboDiv {
  color: white;
  font-size: 2rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

#multiplierDiv {
  color: white;
  font-size: 2rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
